<div>
  <nav class="navbar navbar-light bg-light">
    <div class="logo">
      <%= image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiewdbLtXhoSVPe2ltd9stCMG1d05c7dqpWQ&usqp=CAU", size: "100x50") %>
    </div>

    <% if user_signed_in? %>
      <div class="px-4 d-flex align-items-center justify-content-between">
        <div class="avatar">
          <%= image_tag current_user.avatar, alt: "avatar", size: "25x25" %>
        </div>
        <div>
          <%= link_to "logout", destroy_user_session_path, method: :delete, class: "text-decoration-none" %>
        </div>
      </div>
    <% end %>
  </nav>
</div>
