<div>
  <nav class="navbar navbar-light bg-light">
    <div>
      <a class="navbar-brand" href="#">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiewdbLtXhoSVPe2ltd9stCMG1d05c7dqpWQ&usqp=CAU" width="100" height="50" class="d-inline-block align-top" alt="">
      </a>
    </div>

    <div class="px-4">
      <span class="mr-4">Welcome, <%= current_user.user_name %></span>

      <% if user_signed_in? %>
        <%= link_to "logout", destroy_user_session_path, method: :delete, class: "text-decoration-none" %>
      <% end %>
    </div>
  </nav>
</div>