<div>
  <nav class="navbar navbar-light bg-light">
    <div>
      <%= link_to(image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiewdbLtXhoSVPe2ltd9stCMG1d05c7dqpWQ&usqp=CAU", size: "100x50"), root_path) %>
    </div>

    <% if user_signed_in? %>
      <div class="px-4">
        <span class="mr-4">Welcome, <%= current_user.user_name %></span>
        <%= link_to "logout", destroy_user_session_path, method: :delete, class: "text-decoration-none" %>
      </div>
    <% end %>
  </nav>
</div>